body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

form {
	width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    
    .top-nav-collapse {
        padding: 0;
    }
}

.intro-section {
    min-height: 100%;
    height: auto;
    padding-top: 150px;
    padding-bottom: 30px;
    text-align: center;
}

.section {
	min-height: 100%;
    height: auto;
    padding-top: 110px;
    padding-bottom: 30px;
    text-align: center;
}

.section-color-1 {
	background: #fff;
}

.section-color-2 {
	background: #eee;
}
