.page-header h1 {
	 color: #337ab7;
}

.btn-cadastro{
	background-color: #B78433;
	border-color: #6A4F23;
	color:#FFFFFF;
	font-size:20px;
}

.btn-cadastro:hover,
.btn-cadastro:focus {
	background-color: #6A4F23;
	border-color: #6A4F23;
	color:#FFFFFF;
}

.titulo {
	color: #337ab7 !important;
	font-size:18px;
	font-style: italic;
}

.descricao {
	color: #B78433 !important;
}